@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center homePage">
    <div class="hero">
        <h1 class="display-4">📥Lost But Found</h1>
        <h2>-Lance Estate Community-</h2>
        <p>Helping neighbors reconnect with what <span>matters</span>...</p>
    </div>
    
    <div class="buttons">
        <a asp-controller="Losts" asp-action="Create" class="glassButton2 text-white text-decoration-none">
            <img class="buttImg" src="https://res.cloudinary.com/dumoghqlq/image/upload/v1771625276/a25505dac43ef370f6d9c9fa514346ac_norbcj.png" />
            <p>Lost</p>
        </a>
        <a asp-controller="Founds" asp-action="Create" class="glassButton text-white text-decoration-none">
            <img class="buttImg" src="https://res.cloudinary.com/dumoghqlq/image/upload/v1771625284/f0489d2918fd89af6423cb666db8ed55_l5366z.png" />
            <p>Found</p>
        </a>
    </div>
    
</div>
